body {
  font-size: 20px;
  line-height: 1.6em;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

.comments {
    margin-top: 50px;
}
#commenthr {
    margin-top: 50px;
}

h1 {
  line-height: 1.3em;
}

h1 small {
  padding-top: 4px;
  display: block;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

#logo a {
  color: #333;
}

blockquote {
  margin: 20px;
}

.header h3 { color: inherit; }

.hero-unit {
  background-image:url('{{ media_url("images/hero.png") }}');
  background-size: 100%;
  height: 300px;
  color: #fff;
  border-radius: 2px;
}

.hero-unit a {
  color: inherit;
}

.breadcrumb {
  background-color: inherit;
}

.header {
  margin-top: 20px;
}

#section-titles {
  margin-bottom: 10px;
  padding-top: 10px;
}

#sections h4 {
  padding-top: 40px;
}

pre {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: ##f8f8f8; /* light blue: #F8F8FF; */
  font-size: inherit;
}

.deprication-note {
  background-color: #FFF8F8;
  padding: 10px;
  border: 1px solid #eee;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

ul {
  list-type-style: disk;
}

ul li.external {
  list-style-type: circle;
}

li {
  line-height: 1.6em;
}

.key {
  font-size: .8em;
  line-height: 30px;
  margin-top: 8px;
}

.key ul {
  width: 220px;
}

.key ul li {
  list-style-type: disc;
  float: right;
  margin-left: 50px;
}

.key ul li.external {
  list-style-type: circle;
}

.opaque {
  opacity: .5;
}

.thing .hero-unit {
  height: 100px;
  background-position: center;
}

.code {
  font-size: 12px;
  margin: 0px;
  background: inherit;
  margin-bottom: -30px;
}

.code figcaption {
  display: none;
}