body {
  font-size: 20px;
  line-height: 2em;
  font-family: "open sans", helvetica, times, Georgia,Cambria,"Times New Roman",Times,serif;
  color: #333;
}

.comments {
    margin-top: 50px;
}
#commenthr {
    margin-top: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: futura, helvetica;

}

h1 {
  line-height: 1.3em;
}

h1 small {
  padding-top: 4px;
  display: block;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

#logo a {
  color: #333;
}

blockquote {
  margin: 20px;
}

.header h3 { color: inherit; }

.hero-unit {
  height: 300px;
  color: #fff;
  border-radius: 2px;
  font-family: futura;
  background: none;
}

.hero-unit a {
  color: inherit;
}

.breadcrumb {
  background-color: inherit;
}

.breadcrumb>li {
  text-shadow: none;
}

.header {
  margin-top: 20px;
}

#section-titles {
  margin-bottom: 10px;
}

#sections h4 {
  padding-top: 40px;
}

li small {
  font-size: 11px;
  color: #aaa;
}

pre {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: ##f8f8f8; /* light blue: #F8F8FF; */
  font-size: inherit;
}

.deprication-note {
  background-color: #FFF8F8;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 16px;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

ul {
  list-type-style: disk;
}

ul li.external {
  list-style-type: circle;
}

li {
  line-height: 1.5em;
}

.key {
  font-size: .8em;
  line-height: 30px;
  margin-top: 54px;
}

.key ul {
  width: 220px;
}

.key ul li {
  list-style-type: disc;
  float: right;
  margin-left: 50px;
}

.key ul li.external {
  list-style-type: circle;
}

.opaque {
  opacity: .5;
}

.thing .hero-unit {
  height: 100px;
}

.code {
  font-size: 12px;
  margin: 0px;
  background: inherit;
  margin-bottom: -30px;
}

.code figcaption {
  display: none;
}

.content {
  margin-bottom: 200px;
}

.container-fluid, .hero-unit {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}