body {
  font-size: 20px;
  line-height: 1.6em;
}

.comments {
    margin-top: 50px;
}
#commenthr {
    margin-top: 50px;
}

h1 {
  line-height: 1.3em;
}

h1 small {
  padding-top: 4px;
  display: block;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

blockquote {
  margin: 20px;
}

.header h3 { color: inherit; }

.hero-unit {
  background-image:url('{{ media_url("images/hero.jpg") }}');
  background-size: 100%;
  height: 300px;
  color: #fff;
  border-radius: 2px;
}

.breadcrumb {
  background-color: inherit;
}

.header {
  margin-top: 20px;
}

#section-titles {
  margin-bottom: 10px;
}