body {
  font-size: 20px;
  line-spacing: 1.6em;
}

.page-header {
  margin: 0px;
}

.comments {
    margin-top: 50px;
}
#commenthr {
    margin-top: 50px;
}

h1 {
  line-height: 1.3em;
}

h1 small {
  padding-top: 4px;
  display: block;
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}