---
extends: base.j2
default_block:
title: Things I Learned
description: Here's a list of some things I've Learned.
fullpageimage: /media/images/hero.png
---
{% block extraheader %}
<div class="row hero-unit">
  <div class="span9 offset2">
    I learn the best when I write about what I'm learning.  Here I share some of my writing, essays, and projects.  Lately I've been focused on <a href="http://chartio.com">Cloud Business Intelligence</a> at Chartio and publically post considerably less.
  </div>
</div>

{% endblock %}

{% block main %}

<div class="row" id="section-titles">
  <div class="span2"><h2>Posts</h2></div>
  <div class="span5 key">
    <ul>
      <li class="external"><a href="#">external</a></li>
      <li class="internal"><a href="#">internal</a></li>
    </ul>
  </div>
  <div class="span5"><h2>Essays</h2></div>
</div>

<div class="row" id="sections">
  <div class="span7" id="posts">
    <ul>
    {% for thing in site.content.walk_resources_sorted_by_posts() %}
      {% if not thing.meta.depricated %}
      <li class="post {% if thing.meta.external_url %}external{% endif %}">
        <a href="{{ thing.meta.external_url or content_url(thing.url) }}">{{ thing.meta.title }}</a> <small>{{ thing.meta.date }}</small>
      </li>
      {% endif %}
    {% endfor %}
    </ul>

    <h2 id="depricated-posts-header"><a href="#">Depricated Posts</a></h2>
    <ul class='depricated-posts hide'>
    {% for thing in site.content.walk_resources_sorted_by_posts() %}
      {% if thing.meta.depricated %}
      <li class="post {% if thing.meta.external_url %}external{% endif %}">
        <a href="{{ thing.meta.external_url or content_url(thing.url) }}">{{ thing.meta.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>

  </div>
  <div class="span5">

    <div id="essays">
      <ul>
      {% for thing in site.content.walk_resources_sorted_by_essays() %}
      <li class="post {% if thing.meta.external_url %}external{% endif %}">
        <a href="{{ thing.meta.external_url or content_url(thing.url) }}">{{ thing.meta.title }}</a>
      </li>
      {% endfor %}
      </ul>
    </div>

    <div><h2>Projects</h2></div>

    <div id="projects">
      <ul>
      {% for thing in site.content.walk_resources_sorted_by_projects() %}
      <li class="post {% if thing.meta.external_url %}external{% endif %}">
        <a href="{{ thing.meta.external_url or content_url(thing.url) }}">{{ thing.meta.title }}</a>
      </li>
      {% endfor %}
      </ul>
    </div>

    <div><h2>Influences</h2></div>
    <div id="influences">
      <ul>
        <li>Data
          <ul>
            <li><a href="http://www.perceptualedge.com/">Stephen Few</a></li>
            <li><a href="http://bost.ocks.org/mike/">Mike Bostock</a></li>
            <li><a href="http://chartio.com/blog/">Chartio Team</a></li>
          </ul>
        </li>
        <li>Entrepreneurship
          <ul>
            <li><a href="http://paulgraham.com/articles.html">Paul Graham</a></li>
            <li><a href="http://steveblank.com/">Steve Blank</a></li>
            <li><a href="http://www.bhorowitz.com/">Ben Horowitz</a></li>
            <li><a href="http://www.pinterest.com/8en/">Ben Silberman</a></li>
            <li><a href="https://twitter.com/yuris">Yuri Sagalov</a></li>
            <li><a href="http://www.pinterest.com/ps/">Paul Sciarra</a></li>
            <li><a href="http://www.avalon-ventures.com/bios/rich-levandov">Rich Levandov</a></li>
          </ul>
        </li>
        <li>Engineering
          <ul>
            <li><a href="http://chartio.com/about/justin">Justin Davis</a></li>
            <li>Amy Fowler (Mom)</li>
            <li><a href="http://yashh.com/">Yash Nelapati</a></li>
            <li><a href="http://momentgarden.com/pages/about">Chris Kundinger</a></li>
          </ul>
      </ul>
    </div>

</div>

<script src="/media/js/libs/jquery-2.0.2.min.js"></script>
<script type="text/javascript">

// internal and external post filters
$(document).ready(function() {
  $('.key .external').click(function(e) {
    e.preventDefault();
    $('.key .external').toggleClass('opaque');
    $('.post.external').toggleClass('hide');
  });
  $('.key .internal').click(function(e) {
    e.preventDefault();
    $('.key .internal').toggleClass('opaque');
    $('.post').not('.external').toggleClass('hide');
  });
});

// Toggle depricated posts
$('#depricated-posts-header').click(function(e) {
  e.preventDefault();
  $("#dep-icon").toggleClass('glyphicon-chevron-down');
  $("#dep-icon").toggleClass('glyphicon-chevron-up');
  $("ul.depricated-posts").toggleClass('hide');
});
</script>

{% endblock %}
