---
extends: base.j2
default_block: main
title: Things I Learned
description: Here's a list of some things I've learned.
---
{% from "macros.j2" import render_excerpt with context %}
<section class="blog_excerpt">

<style>
.thing {
    background: #222;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
}

.thing h3 {
    font-size: 16px;
    font-color: blue;
    padding: 0px;
    line-height: 1.4em;
}

.thing time {
    color: #777;
    position: absolute;
    bottom: 5px;
}

.thing.chartio {
   background: #FAC069;
}

.padded {
    padding: 10px;
}

.thing small {
   display: block;
   font-size: .8em;
}

</style>

<div class="things row">
{% for thing in site.content.walk_resources_sorted_by_date() %}
<a href="{{ thing.meta.external_url or content_url(thing.url) }}" class="thing {{ thing.meta.category }} span{{ thing.meta.blocksWide }}"
   style="height: {{ thing.meta.blocksHigh*85 - 30 }}px;">
  <div class="padded">
  <h3>{{ thing.meta.title }}
    {% if thing.meta.external_url %}<small>chartio.com</small>{% endif %}
  </h3>
  <br>
  <small class="subtext">
    <time datetime="{{ thing.meta.date }}">
      {{ thing.meta.date }}
    </time>
  </small>
  </div>
</a>
{% endfor %}

</div>
