<!doctype html>
<html lang="en" class="no-js">
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ media_url('css/til.css') }}">
  {% endblock css %}

  {% block headjs %}
  {% endblock headjs %}

  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div class="container">
      {% block container %}
      <div id="main" role="main">
          <header class="banner clearfix">
          {% block header -%}
              <div class='header'>
                <div class="row">
                  <div class="span8">
                    {% block pageheader %}<h3>ThingsILearned <small>By Dave Fowler</small></h3>{% endblock %}
                  </div>
                  <div class="span4 text-right">
                    {% block nav %}
                    {% from "macros.j2" import render_nav with context %}
                    {{ render_nav(menu) }}
                    {% endblock %}
                    </ul>
                  </div>
                </div>
              </div>
          {%- endblock %}
          </header>
          <section class="content">
          {% block main %}
          {% endblock main %}
          </section>
      </div>
    {% endblock container %}
  </div> <!--! end of #container -->
  {% endblock content%}
  {% block js %}

  {% block scripts %}
  {% endblock scripts %}

  {% endblock js %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2253461-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
