{% extends "base.j2" %}


{% block extraheader %}
  {% if resource.meta.image %}
    <div class="hero-unit"></div>
  {% endif %}
{% endblock %}

{% block main %}
<div class="row">
     <div class="span10">
         <article class="thing">

         <div class='page-header'>
               <h1>{{ resource.meta.title }}<small>by {{ resource.meta.author }} on {{ resource.meta.date }}</small></h1>
         </div>
         {% if resource.meta.depricated %}
           <div class="deprication-note">
             <b>Depricated:</b>
             {{ resource.meta.depricated }}
           </div>
         {% endif %}
         {% mark article %}
         {% filter markdown %}{% block thing_content %}{% endblock %}{% endfilter %}
         {% endmark %}
         {% filter markdown %}{% block after_thing_content %}{% endblock %}{% endfilter %}
         </article>
     </div>
</div>

{% endblock %}
